<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="prefs.html" />
  <head>
    <title>SSH keys</title>
  </head>
  <body>
    <p>You can associate up to 256 ssh keys to your trac account.
    You can copy-paste them to the text area below, each on its own line.</p>
    <p>Paste your ssh keys here:<br/>
      <textarea rows="10" cols="80" name="ssh_keys">$ssh_keys</textarea>
    </p>
  </body>
</html>

